.about {
  margin: 30px 0 50px 0;

  @include responsive(HightPC) {
    padding-top: 50px;
  }

  @include responsive(Mobile) {
    padding-top: 50px;
  }

  @include responsive(MediumMobile) {
    padding-top: 70px;
  }
  // display: none;

  &__container {
    min-height: 100vh;
    display: flex;
    align-items: center;

    @include responsive(HightPC) {
      min-height: 50vh;
    }

    @include responsive(MobileTablet) {
      flex-direction: column-reverse;
      min-height: 100vh;
      padding-top: 70px;
    }

    @include responsive(Mobile) {
      padding: 0 10px;
    }
  }

  &__left {
    width: 60%;
    border-radius: $bdr-normal;

    @include responsive(MobileTablet) {
      width: 100%;
      margin-top: 20px;
    }

    &-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 200px 1fr 150px;
      position: relative;
    }

    &-img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      border: 0.1px solid rgba(0, 0, 0, 0.3);
      // opacity: .8;
      // filter: sepia(.2) brightness(.9) contrast(1.2);
      // filter: grayscale(100);
      // -webkit-filter: grayscale(100);
      -webkit-filter: contrast(84%) saturate(50%);
              filter: contrast(84%) saturate(50%);

      border-radius: $bdr-normal;
      -webkit-border-radius: $bdr-normal;
      -moz-border-radius: $bdr-normal;
      -ms-border-radius: $bdr-normal;
      -o-border-radius: $bdr-normal;
      transition: all 0.3s linear;
    }
  }

  &__right {
    width: 100%;
    height: 100%;
    text-align: justify;
    padding: 0 40px;

    @include responsive(MobileTablet) {
      text-align: left;
      padding: 0;
    }
  }

  &__title {
    @include title() {
    }
  }

  &__text {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-top: 15px;

    @include responsive(HightPC) {
      font-size: 2rem;
      line-height: 2.8rem;
    }

    @include responsive(MobileTablet) {
      padding: 0 10px;
    }

    @include responsive(Tablet) {
      font-size: 1.6rem;
      line-height: 2.2rem;
    }

    @include responsive(Mobile) {
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
  }
}

.img-group {
  height: 100%;
  padding: 3px;
  overflow: hidden;

  &:hover > img {
    cursor: pointer;
    transform: scale(1.1);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  & > img {
    // mix-blend-mode: lighten;
  }

  &-1 {
    grid-column: 1;
    grid-row: 2 / span 3;
  }

  &-2 {
    grid-row: 1;
    grid-column: 1 / span 2;
  }
}

#large-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out;
}

#large-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: $bdr-high;
}
