.contact {
  background-color: #000;
  padding: 20px 0 20px 0px;
  color: #fff;

  @include responsive(Tablet) {
    border: 1px solid #151;
  }

  @include responsive(Mobile) {
    padding: 20px 10px;
  }

  &__container {
    position: relative;
  }

  &__toast {
    background: #fff;
    padding: 15px;
    font-size: 2rem;
    background: red;
    color: blue;
    border-radius: $bdr-medium;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    position: absolute;
    z-index: 1;
    display: none;
  }

  &__title {
    @include title(#000, #fff) {
      text-align: center;
    }
  }

  &__text {
    font-size: 2rem;
    text-align: center;
  }

  &__form {
    margin-top: 20px;

    &-error {
      // border: 1px solid #fff;
      width: 70%;
      margin: 0 auto;
      // padding: 10px 0;
      font-size: 2rem;

      text-align: center;
      background-color: $white-color;
      color: $black-color;
      font-weight: 600;
    }
  }

  &__input {
    position: relative;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    background: transparent;
    outline: none;
    padding: 10px 0 5px 0;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 300;
    margin: 20px 0;
    resize: none;

    &::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    &::-moz-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    &:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    &::-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    &[type="button"] {
      border: 1px solid #000;
      background-color: #fff;
      color: #000;
      max-width: 100px;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 600;
      letter-spacing: 2px;

      &:hover {
        border-radius: 15px;
        transition: all 0.2s linear;
      }
    }
  }

  &__social {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }

  &__list {
    display: flex;
    width: 100%;
    justify-content: center;

    @include responsive(Mobile) {
      justify-content: space-around;
    }

    &--item {
      // border: 1px solid #fff;
      padding: 10px 0;
      transition: all 0.2s linear;
      &:hover {
        transform: translateY(-10px) !important;
      }
    }

    &--link {
      text-decoration: none;
      display: inline-block;
      margin: 0 30px;
    }

    &--icon {
      font-size: 4rem;
      color: #fff;
    }
  }

  &__textarea {
    height: 100px;
  }

  &__copy-right {
    display: flex;
    justify-content: space-between;

    @include responsive(Mobile) {
      flex-direction: column;
    }

    &--content {
      color: $white-color;
      font-size: 1.8rem;
      padding-bottom: 20px;
      letter-spacing: 2px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include responsive(SmallMobile) {
        display: flex;
        flex-direction: column;
      }

      & span {
        color: #fff;
        font-size: 3rem;
        font-family: "Montserrat", sans-serif;
        margin-left: 10px;
        -webkit-text-stroke: 1px #161616;
        -webkit-text-fill-color: #fff;
        font-weight: 900;

        @include responsive(SmallMobile) {
          margin-top: 10px;
        }
      }
    }
  }
}

.form-gr {
  width: 70%;

  @include responsive(Tablet) {
    width: 100%;
  }

  @include responsive(Mobile) {
    width: 90%;
  }

  &-info {
    display: flex;

    @include responsive(Mobile) {
      flex-direction: column;
    }
  }

  &-button {
    @include button-home($black-color, $white-color) {
      width: 100px;
      border: none;
    }

    &:hover {
      cursor: pointer;
    }

    & > span {
      color: #fff;
      mix-blend-mode: difference;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    }
  }
}
