.project {
  padding: 105px 0 30px 0;

  &__title {
    @include title();
    text-align: center;
    margin-bottom: 50px;
  }

  &-slider {
    width: 100%;
    position: relative;
    margin: auto;
    padding: 25px;
    border-radius: 25px;
    height: 500px;
    transition: all 0.3s;

    @include responsive(MobileTablet) {
      display: flex;
      flex-direction: column;
    }

    &__item {
      display: flex;
      align-items: center;
      background-size: cover;
      // overflow: hidden;

      @include responsive(MobileTablet) {
        flex-direction: column;
        align-items: center;
      }

      &.swiper-slide-active {
        .project-slider__img {
          img {
            opacity: 1;
            transition-delay: 0.3s;
          }
        }
        .project-slider__content {
          > * {
            opacity: 1;
            transform: none;

            @for $i from 0 to 15 {
              &:nth-child(#{$i + 1}) {
                transition-delay: $i * 0.1 + 0.3s;
              }
            }
          }
        }
      }
    }

    &__img {
      position: relative;
      align-self: flex-start;
      width: 500px;
      flex-shrink: 0;
      border-radius: 20px;
      transform: translateX(-80px);

      @include responsive(MobileTablet) {
        left: 50%;
        transform: translateX(-50%);
        // transform: translateX(5%);
        width: 80%;
        margin-bottom: 15px;
      }

      img {
        // box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 80%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        display: block;
        opacity: 0;
        border-radius: 20px;
        transition: all 0.3s;
        margin: 0 auto;

        @include responsive(MobileTablet) {
          box-shadow: unset;
        }

        &:nth-child(2) {
          // box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
          width: 70%;
          height: 200px;
          position: absolute;
          bottom: -150px;
          left: 228px;
          -o-object-fit: contain;
          object-fit: contain;
          border-radius: 20px;
          display: block;
          z-index: 1;
          transition: all 0.2s;

          @include responsive(MobileTablet) {
            display: none;
          }
        }
      }
    }

    &__content {
      padding: 0 25px 25px 25px;

      > * {
        opacity: 0;
        transform: translateY(25px);
        transition: all 0.4s;
      }

      @include responsive(MobileTablet) {
        text-align: center;
        margin-top: 30px;
      }
    }

    &__code {
      font-size: 1.4rem;
      color: #7b7992;
      margin-bottom: 15px;
      display: block;
      font-weight: 500;

      @include responsive(MobileTablet) {
        margin-top: -30px;
      }
    }

    &__title {
      font-size: 2.6rem;
      font-weight: 900;
      color: #0d0925;

      @include responsive(MobileTablet) {
        margin-bottom: 10px;
        font-size: 2.2rem;
      }
    }

    &__text {
      padding-right: 5px;
      color: #4e4a67;
      font-size: 2rem;
      margin-bottom: 30px;
      line-height: 2.6rem;

      @include responsive(MobileTablet) {
        margin-bottom: 0px;
        font-size: 1.8rem;
      }
    }

    // Done
    &__button {
      @include button-home() {
        font-weight: normal;
      }

      &-text {
        @include button-text() {
        }
      }
    }

    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: 10px;
      left: 0;
      width: 100%;
    }
    &__pagination {
      position: absolute;
      // z-index: 21;
      right: 10px;
      width: 11px !important;
      text-align: center;
      left: auto !important;
      top: 50%;
      bottom: auto !important;
      transform: translateY(-50%);

      @include responsive(MobileTablet) {
        // transform: translateX(-50%);
        // transform: translateY(-50%);
        position: relative;
        left: 50%;
        top: 10%;
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 8px 0;
        outline: none;

        @include responsive(MobileTablet) {
          margin: 0 5px;
          width: 20px;
          height: 15px;
        }
      }
      .swiper-pagination-bullet {
        width: 11px;
        height: 11px;
        display: block;
        border-radius: 10px;
        background: $blue-color;
        opacity: 0.2;
        transition: all 0.3s;

        &-active {
          opacity: 1;
          height: 30px;

          @include responsive(MobileTablet) {
            height: 20px;
            width: 50px !important;
          }
        }
      }
    }
  }
}
