.project{
    padding: 100px 0;
    // background-color: #000;

    &__title{
        @include title();
        text-align: center;
    }

    &__card{
        margin: auto;
        background: #fefefe;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 2px 10px rgba(0,0,0,.1), 3px 5px 20px rgba(0,0,0,.2);
        width: 100%;
        height:550px;
        position: relative;
        display: flex;
        align-items: flex-end;
        padding: 30px;

        &-toggle{
            z-index: 4;
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: block;
            text-align: center;
            line-height: 1.8;
            font-size: 24px;
            cursor: pointer;
            border: 2px solid transparent;
            transition: .3s ease;
            border: 1px solid red;

		
            &.active{
                color: white;
                border-color: white;
            }
        }


        //Này là nguyên thẻ bự
        &-content{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            transition: -webkit-clip-path 1s ease;
            padding: 100px 0 0;
            overflow: hidden;
            border-radius: 5px;
            border: 1px solid #000;
        }

        &-main{
        //    display: flex;

        // Này test theo codepen, code xong sửa về flex
            display: table;
			width: 100%;
			height: 100%;

            //Sửa này lại luôn
            &--test{
                width: 50%;
                height: 100%;
                display: table-cell;
                transition: .3s ease .3s;
                transform: translate3d(0,0,0);
                vertical-align: top;
            }

            //Sửa này luôn
            &--left{
                transform: translate3d(0,0, 0);
                opacity: 0;
                padding-left: 50px;
            }

            &--right{
                transform: translate3d(100px,0, 0);
				opacity: 0;
				padding-left: 30px;
            }
        }

        &-title{
            font-weight: 300;
			font-size: 3rem;
			line-height: 1;
			margin: 0 0 30px;
			strong{
				font-weight: 700;
				display: block;
			}
        }
    }
    
}