@font-face {
    font-family: "Monument Extended";
    src: url('/assets/fonts/MonumentExtended-Regular.otf');
}

@font-face {
    font-family: Kontainer;
    src: url('/assets/fonts/Kontanter/OTF/Kontanter-Bold.otf') format('opentype')
}

@font-face {
    font-family: test;
    src: url('/assets/fonts/degrassi.ttf');
}