@font-face {
    font-family: "Monument Extended";
    src: url('/assets/fonts/MonumentExtended-Regular.otf');
}

@font-face {
    font-family: 'nezuko';
    src: url('/assets/fonts/TextFonts.net_nezuko-typeface/Nezuko.otf') format('opentype'),
         url('/assets/fonts/TextFonts.net_nezuko-typeface/Webfont/Nezuko.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Kontainer;
    src: url('/assets/fonts/Kontanter/OTF/Kontanter-Bold.otf') format('opentype')
}