// Color scheme
$white-color: #fff;
$black-color: #000;
$black-light-color: #161616;
$blue-color: #6a8cc9;
$gray-color: #c0c0c0;
$green-color: #21bf73;

$bdr-normal: 3px;
$bdr-medium: 5px;
$bdr-high: 10px;

$marquee-height: 200px;
$marquee-width: 100vw;
$marquee-element: 8;
$marquee-element-displayed: 4;
$marquee-element-width: calc(#{$marquee-width}/#{$marquee-element-displayed});
// $marquee-element-width: 25vw;
$marquee-duration: calc(#{$marquee-element}*2s);

$marquee-elm-displayed-mb: 2;
$marquee-element-width-mb: calc(#{$marquee-width}/#{$marquee-elm-displayed-mb});
